<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/detalle.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/bda3cd9edc.js" crossorigin="anonymous"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
        />
        <title>Detalle del producto</title>
    </head>

    <body>
        <%- include('./partials/header') %>
        <main class="main">

            <div class="carta">
                <div class="imagen">
                    <img class="perfume" src="/img/NuevoProducto/<%= producto.imagen %>" />
                </div>

                <div class=""></div>
                <div class="descripcion">
                    <p><%= producto.descripcion %></p>
                </div>

                <div class="vista-info">
                    <div class="descripciones-info">
                        <h1 class="nombre"><%= producto.modelo %></h1>
                        <span class="precio">$<%= producto.precio %> </span>
                        <!-- <h2 class="precio">Precio: 1500</h2> -->
                        <h2 class="cuotas">Cuotas: 12</h2>
                        <div class="container-carrito">
                            <div class="agregar-deshacer-container">
                                <i class="fa-solid fa-minus"></i>
                                <span> 0 </span>
                                <i class="fa-solid fa-plus"></i>
                            </div>

                            <div class="contenedor-navs">
                                <button class="carrito">
                                    <i class="fa-solid fa-cart-shopping"></i> Añadir al carrito
                                </button>
                                <a href="/producto/editar/<%= producto.id %>" class="btn btn-primary ancor">Editar</a>
                            </div>
                            <form action="/producto/borrar/<%= producto.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="action-button delete">ELIMINAR</button>
                                <div class="volver">
                                    <button>Volver atras</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>

        <%- include('./partials/footer') %>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
