<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet " type="text/css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/editarperfil.css">

  <title>Perfumall</title>
</head>

<body>
  <%- include('./partials/header') %>
    <main>
      <h1>EDITA TU PERFIL</h1>
      <div class="container-editar">
        <form action="/usuario/change/?_method=PUT" method="POST" class="row g-3" enctype="multipart/form-data">

          <div class="img-container col-md-4">
            <img src="/img/<%= user.imagenPerfil %> " alt="">
          </div>

          <div class="col-md-4"><br>
            <label for="imagenPerfil" class="form-label">Cambiar imagen de perfil</label>
            <input type="file" class="form-control" name="imagenPerfil" id="imagenPerfil"
              value="<%= user.imagenPerfil %> " required>
          </div>
          <div class="col-md-4"><br>
            <label for="nombre" class="form-label">Cambiar Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="<%= user.nombre %> "
              placeholder="Ingrese nombre" required>
          </div>
          <div class="col-md-4">
            <label for="apellido" class="form-label">Cambiar Apellido</label>
            <input type="text" class="form-control" name="apellido" id="apellido" value="<%= user.apellido %> "
              placeholder="Ingrese Apellido" required>
          </div>
          <div class="col-md-4">
            <label for="email" class="form-label">Cambiar Mail</label>
            <input type="email" class="form-control" name="email" id="email" value="<%= user.email %> "
              placeholder="Ingrese Mail" required>
          </div>
          <div class="col-md-6">
            <label for="ciudad" class="form-label">Cambiar Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="ciudad" value="<%= user.ciudad %> "
              placeholder="Ingrese Ciudad" required>
          </div>
          <div class="col-md-3">
            <label for="provincia" class="form-label">Provincia</label>
            <select class="form-select" name="provincia" id="provincia">
              <% provincias.forEach(p=> { %>

                <option>
                  <%= p %>
                </option>
                <% }) %>
            </select>
          </div>
          <!--    <div class="col-md-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Ingrese Contraseña" id="password"
            value=" " required>
          </div> -->
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Acepto los términos y condiciones
              </label>
            </div>
          </div>
          <div class="col-12">

            <button class="btn btn-primary" type="submit"> Modificar Usuario</button>

          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/258b4efd0d.js" crossorigin="anonymous"></script>
</body>