<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet " type="text/css" />
  <link rel="icon" href="/img/perfume.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,700&display=swap"
    rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />



  <title>Perfumall</title>
</head>

<body>
  <%- include('./partials/header') %>


    <main class="main">
      <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/Img-carrousel1.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="../img/img-carrousel2.webp" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="../img/img-coarrousel4.webp" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <br />
      <div class="contain-tittle">


      </div>
      <form action="/?q=q" method="GET">
        <div class="input-group rounded searchBtn">
          <input name="q" type="search" class="form-control rounded" placeholder="Buscar modelo" aria-label="Search"
            aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <button class="border-0 " type="submit">

              <i class="fas fa-search"></i>
            </button>
          </span>
      </form>
      </div>
      <div class="orderBtn">
        <p> Ordenar por </p>
        <div class="btn-group asd">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Marca
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Todas</a></li>
            <li><a class="dropdown-item" href="/marca/1">AVON</a></li>
            <li><a class="dropdown-item" href="/marca/2">Natura </a></li>
            <li><a class="dropdown-item" href="/marca/4">Carolina Herrera </a></li>
            <li><a class="dropdown-item" href="/marca/3">Herencia</a></li>
          </ul>
        </div>
      </div>
      <div class="orderBtn">
        <div class="btn-group asd">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Descuento
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/descuento/descuento_10">Desde 10% OFF</a></li>
            <li><a class="dropdown-item" href="/descuento/descuento_15">Desde 15% OFF</a></li>
            <li><a class="dropdown-item" href="/descuento/descuento_20">Desde 20% OFF</a></li>
            <li><a class="dropdown-item" href="/descuento/descuento_30">Desde 30% OFF </a></li>
          </ul>
        </div>
      </div>
     




      <div class="container mb-lg-5 mb-sm-4 mb-md-5 justify-content-center ">

        <% mensajes.forEach(m=> { %>

          <%= m %>
            </p>
            <% }) %>
              <% productos.forEach(prod=> { %>
                <article href="/producto/detalle/<%= prod.id %> ">
                  <div class="contenedor-producto d-flex justify-content-center" style="height: 700px;">
                    <div class="card product-under">
                      <a href="/producto/detalle/<%= prod.id %> ">
                        <img class="img-11 img" src="/img/NuevoProducto/<%= prod.imagen %>" />
                        <div class="productoinfo">
                          <h3 class="name productName">
                            <%= prod.modelo %>

                          </h3>
                          <h4 class="name">
                            <%=prod.marca.nombre %>
                          </h4>

                          <% if (prod.estado==1) { %>

                            <span class="discountTachado">
                              $<%= prod.precio %>
                            </span>
                            <h3 class="price">$

                              <%=prod.precio - (prod.precio* prod.descuento * 0.010) %>
                            </h3>

                            <h3 class="discount">
                              <%= prod.descuento %>% OFF
                            </h3>
                            <% } else { %>
                              <h2 class="price priceValue">$ <%= prod.precio %>
                              </h2>
                              <% } %>





                        </div>

                        <div class="colorete">
                          <a href="/producto/detalle/<%= prod.id %> "> <button type="button"
                              class="btn btn-info comprame ">Comprar</button></a>


                          <% if (locals.isAdmin) { %>

                            <div class="cakl">
                              <button>
                                <a href="/producto/editar/<%= prod.id %>">Editar</a>
                              </button>
                            </div>
                            <% } %>
                        </div>
                    </div>
                  </div>
                </article>
                <% }) %>
      </div>

      <%- include('./partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/258b4efd0d.js" crossorigin="anonymous"></script>
    </main>
</body>

</html>