<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/carrito.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>Carrito</title>
  </head>

  <body>
    <%- include('./partials/header') %>

    <main>
      <div>
        <!-- SECCION 1 -->
        <section>
          <% for(let obj of productos){ if (obj.id > 0) { %>
          <article class="contenedor">
            <a href="/producto/productos/<%= obj.id %>">
              <div class="contenedor-producto">
                <div class="producto-1">
                  <img class="img-1" src="/img/<%= obj.img %>" />
                  <div class="productoinfo">
                    <p class="price">$<%= obj.precio %></p>
                    <p class="discount"><%= obj.descuento %>% OFF</p>
                    <h4 class="description"><%= obj.marca %></h4>
                  </div>
                  <a href="#" class="btn btn-primary">Eliminar</a>
                  <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
              </div>
            </a>
          </article>
        </section>
        <% } } %>
      </div>
      <br /><br />

      <button class="inicio">Incio</button>
      <button class="comprar">Comprar</button>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
