<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="icon" href="/img/perfume.png">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/sign-in.css" rel="stylesheet" type="text/css" />
    <link href="/css/profile.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet" />

    <title>
        <%= user.nombre + " " + user.apellido %>
    </title>
</head>

<body>
    <%- include('./partials/header') %>

        <main class="container">

            <div class="card-group col-4">
                <div class="card">
                    <% if (user.imagenPerfil) { %>
                        <img  src="/img/<%= user.imagenPerfil %>  "width="100" height="350" class="card-img-top"
                        alt="loading" >

                        <% } else { %>
                            <img  src="/img/<%="default.png" %>  "width="100" height="350" class="card-img-top"
                            alt="loading"> 
                            
                    <% } %> 
                 <div class="card-body">
                        <h2 class="card-title">
                            <%= user.nombre %>
                                <%= user.apellido %>
                        </h2>

                        <p class="card-text">
                            <%= user.email %>
                        </p>
                        <p class="card-text">
                            <%= user.provincia %>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

            </div>

            </section>

            <!-- <div class="col-12 col-sm-6 col-lg-12 mx-auto"> -->
            <div class="container-forms d-flex align-items-center">
                <form action="/usuario/logout">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Cerrar sesion</button>
                    </div>
                </form>
                <form action="/usuario/borrar/ <%=user.id %>?_method=DELETE" method="POST">
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Borrar Perfil</button>
                    </div>
                </form>
            </div>
            <!-- </div> -->

        </main>
        <%- include('./partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
</body>

</html>